lionengine-game-strategy/src/main/resources/com/b3dgs/lionengine/xsd/skill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://lionengine.b3dgs.com" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:lionengine="http://lionengine.b3dgs.com">

    <complexType name="skill">
    	<sequence>
    		<element name="name" type="string" minOccurs="1" maxOccurs="1"></element>
    		<element name="description" type="string" minOccurs="1" maxOccurs="1"></element>
    		<any namespace="##local" processContents="skip" minOccurs="0" maxOccurs="unbounded"></any>
    	</sequence>
    </complexType>

    <element name="skill" type="lionengine:skill"></element>
</schema>